# Python
__pycache__/
**/__pycache__/**
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp

# Project
temp/
.claude/
.copilot/
CLAUDE.md

# OS
Thumbs.db
.DS_Store
